
<div class="callout large">
  <div class="row column text-center">
    <h1>Changing the World Through Knowledge</h1>
    <p class="lead">Buzzhacked, Helping fight password issues and security problems.</p>
    <a href="#" class="button large">Learn More</a>
    <a href="#" class="button large hollow">Learn Less</a>
  </div>
</div>
<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="#"><div class="stat">91%</div><span>UNDERSTAND RISK</span><br>of using same password</a></li>
    <li><a href="#"><div class="stat">61%</div><span>USE</span><br>similar passwords</a></li>
    <li><a href="#"><div class="stat">41%</div><span>CREATE</span><br>easy to remember passwords</a></li>
    <li><a href="#"><div class="stat">Over 500</div><span>MILLION</span><br>emails and password leaked in 2016</a></li>
    <li><a href="#"><div class="stat">#1</div><span>REASON</span><br>a person changes their password - forget</a></li>
  </ul>
</div>
<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="<%= image_path("happycustomers.jpg") %>">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>about buzzhacked</h2>
    <p>We are not perfect, we make mistakes, so do web sites. Once in a while a web site wil be hacked and your <span>personal information</span> will be leaked on the internet. It is important that you know when your inforamtion is leaked. That is the goal of Buzzhacked, to help share known and prevent additional security problems

    </p>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns">
    <h3>Fact #1</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Fact #2</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Fact #3</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
</div>

<hr>



<hr>


<hr>