
<div class="callout large">
  <div class="row column text-center">
    <h1>Changing the World Through Knowledge</h1>
    <p class="lead">Buzzhacked, Helping fight password issues and security problems.</p>
    <a href="#" class="button large">Learn More</a>
    <a href="#" class="button large hollow">Learn Less</a>
  </div>
</div>
<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="#"><div class="stat">91%</div><span>UNDERSTAND RISK</span><br>of using same password</a></li>
    <li><a href="#"><div class="stat">61%</div><span>USE</span><br>similar passwords</a></li>
    <li><a href="#"><div class="stat">41%</div><span>CREATE</span><br>easy to remember passwords</a></li>
    <li><a href="#"><div class="stat">Over 500</div><span>MILLION</span><br>emails and password leaked in 2016</a></li>
    <li><a href="#"><div class="stat">#1</div><span>REASON</span><br>a person changes their password - forget</a></li>
  </ul>
</div>
<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="<%= image_path("mascot_hacker_sm.png") %>">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>about buzzhacked</h2>
    <p>We are not perfect, we make mistakes, so do web sites. Once in a while a web site wil be hacked and your <span>personal information</span> will be leaked on the internet. It is important that you know when your information is leaked. That is the goal of Buzzhacked, to help share known and prevent additional security problems

    </p>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns">
    <h3>Fact #1</h3>
    <p>Losing control of any online account is a bad news. Hackers have tools which will test a set of released name and password using automatic scripts, allowing them to test tens of thousands of email addresses and passwords in just a few hours. Once this is done they can data mine your accounts for other accounts and information.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Fact #2</h3>
    <p>If a password leak is found on your email address, DON'T WORRY, it happens to millions of people. The first thing to do is make a short list, of common places that have the same password. Example: is you facebook password the same as your email password?</p>
  </div>
  <div class="medium-4 columns">
    <h3>Fact #3</h3>
    <p>You password is not only important to you, it is important to the <b>Internet Community</b> as a whole. Securing your account is one of the first steps in making the internet safer for everyone.</p>
  </div>
</div>

<hr>

<div class="row hide-for-small-only">
  <div class="medium-4 columns"><strong>Ted Talk</strong><br><iframe width="auto" height="auto"  src="https://www.youtube.com/embed/0SkdP36wiAU" frameborder="0" allowfullscreen></iframe><small><br><p class="small">What's wrong with your pa$$w0rd </p></small></div>
  <div class="medium-4 columns"><strong>Worst Password from 2015</strong><small><br>if your password is in here - you should change it</small>
    <ul>
    <li>123456</li>
    <li>password</li>
    <li>12345678</li>
    <li>qwerty</li>
    <li>football</li>
  </ul>
  </div>
  <div class="medium-4  columns"><strong>Ted Talk</strong><br><iframe width="auto" height="auto" src="https://www.youtube.com/embed/MY3XWYr726I" frameborder="0" allowfullscreen></iframe><br><small><p class="small">How to Use Passwords and Be Safer Online</p></small></div>
</div>