<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="<%= image_path("mascot_hacker_sm.png") %>">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>about buzzhacked</h2>
    <p>We are not perfect, we make mistakes, so do web sites. Once in a while a web site wil be hacked and your <span>personal information</span> will be leaked on the internet. It is important that you know when your information is leaked. That is the goal of Buzzhacked, to help share known and prevent additional security problems

    </p>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="<%= image_path("mascot_hacker_sm.png") %>">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>Our Team</h2>
    <p>Our Great Team has</p>
    <p>ric</p>
    <p>pic b</p>
    <p>pic c</p>
    <p>
    <p>We are not perfect, we make mistakes, so do web sites. Once in a while a web site wil be hacked and your <span>personal information</span> will be leaked on the internet. It is important that you know when your information is leaked. That is the goal of Buzzhacked, to help share known and prevent additional security problems

    </p>
  </div>
</div>



  <img class="thumbnail" src="<%= image_path("imgres.jpg") %>">
</p>
<hr>
<h2>ok.. say this page is done... to push it..</h2>
<p> rails, database, js, blah..blah AND NOW TEST FOR COMMIT FROM MARIAN11</p>