<h2> About Me Page</h2>

<p>Our Great Team has</p>
<p>ric</p>
<p>pic b</p>
<p>pic c</p>
<p>
  <%= image_path(imgres.jpg") %>
</p>
<hr>
<h2>ok.. say this page is done... to push it..</h2>
<p> rails, database, js, blah..blah</p>