
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <h2>Contact us</h2>
    <p><br></p>
    <label>Name
      <input type="text" placeholder="Name">
    </label>
    <label>Email
      <input type="text" placeholder="Email">
    </label>
    <label>
      Message
      <textarea placeholder="contact us"></textarea>
    </label>
    <input type="submit" class="button expanded" value="Submit">
    <br><br>
    <hr>

  </div>
</div>