<div class="row">
  <div class="medium-6 columns">
    <h3>Contact US</h3>
    <p>Welcome to Buzzhacked, check out the FAQ for common questions, however if you want we are happy to answers questions, thank you, buzzhacked team</p>
    <ul class="menu">
     <p style="color: #e6e6e6"> some funny text or something?</p>
    </ul>
  </div>
  <div class="medium-6 columns">
    <label>Name
      <input type="text" placeholder="Name">
    </label>
    <label>Email
      <input type="text" placeholder="Email">
    </label>
    <label>
      Message
      <textarea placeholder="holla at us"></textarea>
    </label>
    <input type="submit" class="button expanded" value="Submit">
  </div>
</div>
