<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row medium-10 columns">
  <div class="blog-post">
    <h1>F.A.Q. - Frequently asked questions</h1>

  </div>
</div>

<hr>
<br>




<div class="row">
  <div class="large-6 columns">
    <h3><strong> Question: </strong>How did we get the information?</h3>
  </div>
  <div class="large-6 columns">
    <p><em> the number one question we get all the time is how did you get this information <br> Well the scary fact is that this information is leaked our to the internet by people. A security professional finds it and created a site callled "haveibeenpwned.com." We simply access the site as a way to help people understand that their password has been leaked.
</em></p>
  </div>

<div class="row">
  <div class="medium-3 columns">3 columns</div>
  <div class="medium-9 columns">9 columns</div>
</div>

<h4>This is were questions will be turned in to answers</h4>

<p>q: how did we get the inforamtion</p>
<p>a: we use the pwned api</p>

<p>q: do we store personal information</p>
<p>a: yes</p>

<p>q: how do I opt out</p>
<p>a: information</p>

<p>q: if I am found postive - what do I do - see my doctor?</p>
<p>a: information</p>


<p>q: why did we do this?</p>
<p>a: for a grade</p>

</div>