<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row medium-10 columns">
  <div class="blog-post">
    <h1>F.A.Q. - Frequently asked questions</h1>

  </div>


<hr>
<br>
<h3><strong> Question: </strong>How did we get the information?</h3>
 <p><em> the number one question we get all the time is how did you get this information. Well the scary fact is that this information is leaked our to the internet by people. A security professional finds it and created a site callled "haveibeenpwned.com." We simply access the site as a way to help people understand that their password has been leaked.
</em></p>
  <hr width="30%"><br>

<p><strong>question:</strong> do we store personal information</p>
  <p><strong>answer:</strong> right now we store very little personal information. We just store an email address. Soon will be designing a feature were peopel can opt-out of getting buzzhacked emails.</p>
<hr width="30%"><br>

  <p><strong>question:</strong>If my email is found - what can I do</p>
  <p><strong>answer:</strong> Well the first thing is to change you password to that site and any other site that might use the same password, also it is recommended you monitor your email for any strange emails and also that you check your credit for an new accounts </p>
  <hr width="30%"><br>

  <p><strong>question:</strong>Why did we do this?</p>
  <p><strong>answer:</strong> Well this started out as a class project, however we all felt strongly about making sure people and there information is safe. Instead of trying to react to hacker we feel often the best method is to be as proactive as possible.</p>
  <hr width="30%"><br>
</div>
