<h2>F.A.Q.</h2>
<p> this is were questions will be turned in to answers</p>

<p>q: how did we get the inforamtion</p>
<p>a: we use the pwned api</p>

<p>q: do we store personal information</p>
<p>a: yes</p>

<p>q: how do I opt out</p>
<p>a: information</p>

<p>q: if I am found postive - what do I do - see my doctor?</p>
<p>a: information</p>


<p>q: why did we do this?</p>
<p>a: for a grade</p>

</div>