<div id="mainContent">

  <div class="container-fluid">
    <div class="row">
      <img src="images/banner.png" class="img-responsive">
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 introStyle">
        Buzzhacked is a Chrome extension that aids in verifying whether a recipient’s email address exists on a list of compromised addresses, and has the capability of alerting such user if their account is found on the list.

      </div>
    </div>
  </div>

  <h1>My friend says I may have been hacked... </h1>
  <p>You are probably here because a friend has notified you that your email address may have been compromised. Your friend has a Chrome extension that automatically searched for your email address in a database of previously compromised addresses. You can manually check your email by following this link. To opt out from future notifications, click here. </p>
  <h1>Why does this matter?</h1>
  <p>We are not perfect. We all make mistakes, and so do web sites. Every now and then, a site will be hacked and your personal information will be leaked on the Internet. It is important that you know when your information is leaked so that you can take additional steps to securing your information.</p>

</div>


Q: How does Buzzhacked know that my email has been hacked?
A: The Buzzhacked extension visits a database located at https://haveibeenpwned.com/ to determine if your email address exists on such list. The list is compiled by security analysists that have determined that sensitive information tied to your email address has been compromised via a previously known hacked website.

Q: Do you store personal information?
A: We only store your email address to prevent duplicate alerts being sent to you. Opting out of the service will store your email address to prevent future notifications. We have no knowledge of passwords or personally identifying information tied to those email addresses.

Q: My email was found on the list. What do I do now?
A: The first call of action that we recommend is the immediate change of password tied to your email account. This should be done through your email service provider. Never change your password through a third party – ensure that you are on your provider’s server (Outlook, Gmail, Yahoo, etc.). Additional steps that would be wise to take are as follows:
•	Be vigilant of the emails you receive. Ensure that the sender’s email address is trusted.
•	If you used the same password in other accounts across the web, change those passwords as well.
Q: Why do you perform this service?
A: Buzzhacked actually began as a college group project at the University of Las Vegas, Nevada! The underlying philosophy that motivated our team is posted below.

In today's world, information is power. Infinite information on the internet presents many problems, among them the issue of security. When large companies like Yahoo withhold security breach information from its users for over two years, it is important that we take the means necessary to protect our personal information. We should have processes or protocols in place to alert us when our information has been compromised.

Many times, companies either fail to notify their users about security concerns or miscommunicate their details. It is also possible that notifying emails are deleted or placed into the spam folder and thus preventing the user from reading them. So how do we ensure that the user is made aware of security concerns in an efficient manner?

One of the concepts frequently discussed in computer ethics is the idea of “power to the people”. Our solution is to have users make other users aware of their security vulnerabilities. This type of communication, where people possess a fair share of control over the Internet, has shown to be effective in many different domains. Over the past ten years, social media and file sharing sites have changed the way we communicate with one another. In the past, communication was mostly linear, one person to another person, or push based (from TV or radio to listener). However, social life on the Internet has now flourished, and we can take advantage of modern communication tools to address the problem.  Employing a hybrid mesh style communication network using email and other methods may be the solution to notifying users of possible information leaks.