<div id="mainContent">

  <div class="container-fluid">
    <div class="row">
      <img src="images/banner.png" class="img-responsive">
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 introStyle">
        Buzzhacked is a Chrome extension that aids in verifying whether a recipient’s email address exists on a list of compromised addresses, and has the capability of alerting such user if their account is found on the list.

      </div>
    </div>
  </div>

  <h1>My friend says I may have been hacked... </h1>
  <p>You are probably here because a friend has notified you that your email address may have been compromised. Your friend has a Chrome extension that automatically searched for your email address in a database of previously compromised addresses. You can manually check your email by following this link. To opt out from future notifications, click here. </p>
  <h1>Why does this matter?</h1>
  <p>We are not perfect. We all make mistakes, and so do web sites. Every now and then, a site will be hacked and your personal information will be leaked on the Internet. It is important that you know when your information is leaked so that you can take additional steps to securing your information.</p>

</div>